.hero {
  position: relative;

  video {
    width: 100%;
  }

  .we-are-hiring {
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    h3 {
      font-size: 30px;
      font-weight: 600;
      color: #ffde59;
      text-align: center;
      text-transform: uppercase;
    }

    button {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      border: 1px solid #ffde59;
      width: fit-content;
      border-radius: 25px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  section {
    position: absolute;
    color: #ffffff;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    left: 8%;
    top: 65%;
    bottom: 85px;
    // background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);

    .pioneer {
      font-size: 30px;
      font-weight: 300;
      font-style: italic;
      margin-left: 30px;
    }

    .name {
      font-size: 70px;
      font-weight: 600;
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    section {
      .name {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 900px) {
  .hero {
    section {
      width: 80%;
      left: 5%;
      bottom: 55px;

      .name {
        font-size: 36px;
        line-height: 58px;
        margin-bottom: 20px;
      }

      .pioneer {
        font-size: 20px;
        line-height: 24px;
        margin-left: 20px;
      }

      div {
        flex-direction: column;

        .twitter-btn {
          width: 150px;
          height: 50px;
          border: 2px solid #e5f5f6;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .hero {
    .we-are-hiring {
      left: 50%;
      top: 8%;
      padding: 5px 10px;
      transform: translateX(-50%);
      width: 60%;
      gap: 5px;
      h3 {
        font-size: 16px;
      }

      button {
        font-size: 10px;
        padding: 4px 8px;
        gap: 5px;
      }
    }
    section {
      width: 80%;
      left: 5%;

      .name {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      .pioneer {
        font-size: 16px;
        line-height: 24px;
        margin-left: 10px;
      }

      div {
        flex-direction: column;
        gap: 5px;

        .twitter-btn {
          width: 80px;
          height: 30px;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .hero {
    section {
      top: 40%;
      text-wrap: nowrap;

      .name {
        font-size: 16px;
      }

      .pioneer {
        font-size: 14px;
      }

      div {
        flex-direction: column;
        gap: 5px;

        .twitter-btn {
          width: 60px;
          height: 20px;
          font-size: 8px;
        }
      }
    }
  }
}
