.homo-page {
  .hero {
    position: relative;

    video {
      width: 100%;
    }

    section {
      position: absolute;
      bottom: 0;
      color: white;
      width: 100%;

      .pioneer {
        font-size: 28px;
        font-weight: 200;
        font-style: italic;
        line-height: 34px;
        margin-left: 9%;
      }

      .name {
        font-size: 64px;
        font-weight: 600;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 77px;
        margin-left: 7%;
        margin-bottom: 42px;
      }

      div {
        display: flex;
        margin-left: 7%;
        margin-bottom: 45px;
        justify-content: space-between;
        align-items: center;

        p {
          width: 710px;
          font-size: 21px;
          font-weight: 400;
          line-height: 25px;
        }

        button {
          width: 200px;
          height: 70px;
          border: 3px solid rgb(229, 245, 246);
          border-radius: 15px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          margin-right: 10%;
        }
      }
    }
  }

  h2 {
    color: #39424e;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }

  .abouts {
    background: rgb(212, 229, 231);
    padding: 100px 0 65px;

    section:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 1px;
        height: 120px;
        background: rgb(106, 164, 190);
        margin-left: 30px;
        margin-right: 25px;
        margin-bottom: 12px;
        align-self: flex-end;
      }

      p {
        width: 700px;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        color: rgb(96, 105, 123);
        text-align: justify;
      }
    }

    section:nth-child(2) {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      margin: 45px 7% 0;

      .about-content {
        width: 325px;
        border-radius: 15px;
        background: rgb(229, 245, 246);
        padding: 35px 20px;

        div {
          height: 1px;
          width: 130px;
          background-color: rgb(106, 164, 190);
          margin-top: 24px;
          margin-bottom: 10px;
        }

        h3 {
          color: rgb(96, 105, 123);
          font-size: 24px;
          font-weight: 700;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: rgb(96, 105, 123);
        }
      }
    }
  }

  .projects {
    background: rgb(229, 245, 246);
    padding: 60px 0;

    .project-swiper {
      padding-bottom: 60px;
      margin-top: 70px;

      .project-swiper-slide {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        width: 1100px;
        margin: auto;

        .project-content {
          width: 340px;
          height: 175px;
          border-radius: 20px;
          background: rgb(180, 211, 213);
          padding: 24px 26px;

          h3 {
            color: rgb(96, 105, 123);
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
          }

          div {
            width: 80px;
            height: 1px;
            background-color: rgb(106, 164, 190);
            margin: 12px 0 10px;
          }

          p {
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }

      .swiper-pagination-bullet {
        border: 1px solid #006394;
        background-color: transparent;
        width: 15px;
        height: 15px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: #006394;
      }
    }
  }

  .investors-sponsors {
    background-color: #d4e5e7;
    padding: 70px 0 60px;

    h2 {
      color: #39424e;
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      text-align: center;
      margin-bottom: 32px;
    }

    .investor-swiper,
    .sponsor-swiper {
      width: 80%;
      margin: auto;
      position: relative;

      .content-item {
        width: 150px;
        height: 150px;
        border-radius: 15px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 85%;
        }
      }

      .swiper-button-prev {
        position: absolute;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);
        color: #006394;
        height: 37px;
        margin-top: 0;
      }

      .swiper-button-next {
        position: absolute;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
        color: #006394;
        height: 37px;
        margin-top: 0;
      }

      .swiper-button-prev::after,
      .swiper-button-next::after {
        font-size: 37px;
      }
    }
  }

  .news-events {
    background: #e5f5f6;
    padding: 45px 0;

    & > p {
      color: rgb(51, 51, 51);
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin: 30px;
    }

    section {
      display: flex;
      justify-content: center;
      gap: 45px;
      align-items: center;

      .activities {
        border-radius: 20px;
        background: #d4e5e7;
        padding: 50px;
        width: 445px;
        height: 410px;

        h3 {
          color: #60697b;
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
        }

        div {
          width: 168px;
          height: 1px;
          margin: 18px 0 28px;
          background-color: #6aa4be;
        }

        p {
          color: #60697b;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          text-align: left;
        }
      }

      .news {
        border-radius: 15px;
        background: #b4d3d5;
        width: 650px;
        height: 420px;
        padding: 20px 27px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: scroll;

        .news-item {
          display: flex;
          border-radius: 15px;
          width: 100%;
          height: 175px;
          overflow: hidden;

          .img-wrap {
            width: 230px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50%;
            }
          }

          .news-text-wrap {
            flex: 1;
            background-color: #d4e5e7;
            color: #60697b;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            & > p {
              max-height: 136px;
              overflow: scroll;
            }
          }
        }
      }
    }
  }

  .teams {
    background-color: #d4e5e7;
    padding: 40px 0 60px;

    section {
      display: flex;
      justify-content: space-between;
      padding: 0 125px;
      margin-top: 25px;

      .team-member-card {
        width: 305px;
        height: 480px;
        border-radius: 30px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .img-wrap {
          background-color: #e5f5f6;
          height: 265px;
          flex-shrink: 0;
          position: relative;

          img {
            width: 60%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
          }
        }

        .team-member-info-wrap {
          background-color: #b4d3d5;
          flex: 1;
          padding: 27px 0 37px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          .name {
            color: #60697b;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
          }

          .intro {
            color: #60697b;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            width: 80%;
          }
        }
      }
    }
  }

  .contact {
    background-color: #e5f5f6;
    padding: 42px 0;

    section {
      .lab-info {
        background-color: #ffffff;
        border-radius: 15px;
        width: 440px;
        height: 500px;
      }
    }
  }
}
